<% 5.times do |x| %>
  <h2>見出し</h2>
  <p>At nulla tristique condimentum. Donec arcu quam, dictum accumsan,
  convallis accumsan, cursus sit amet, ipsum. In pharetra sagittis nunc.
  <%= link_to "More", "#" %>
  </p> 
<% end %>
