<%= render "shared/login_form" unless current_member %>

<h2>News</h2>
<ul>
  <% 5.times do |i| %>
    <li><%= link_to "Newsの見出し", "#" %></li>
  <% end %>
</ul>

<h2>会員のブログ</h2>
<ul>
  <% 5.times do |i| %>
    <li><%= link_to "ブログの見出し", "#" %></li>
  <% end %>
</ul>
